
<div >
    <input type="button" ng-model="type" ng-init="type='Company'" hidden="true"/><br />
    <b>{{type}} list: &nbsp; &nbsp; &nbsp; &nbsp; <span style="position:sticky;">Action Modifier: {{response}}</span></b><br>
      
      
       <ul ng-repeat="company in allResponse" class="w3-ul w3-card" style="width:50%">
           <li class=w3-text-black>Company Name: {{company.compName}} </li>
           <li>Company Email: {{company.email}} </li>
           <li>Company ID: {{company.idCompany}} </li>
           <li>Company Password: {{company.password}}</li>
           <li><input class="w3-btn w3-blue w3-border" id="Button1" type="button" value="update" ng-click="update(company)" />
           <input class="w3-btn w3-blue w3-border" id="Button1"  type="button" value="remove" ng-click="remove(company)" />
           <input class="w3-btn w3-blue w3-border" id="Button1" type="button" value="viewIncome" ng-click="viewIncome(company.compName, 'viewIncomeByCompany')" />
           </li>
       </ul>
       <div id="messageToClient" class="w3-container w3-red"  style="position:fixed;bottom:50%" hidden="true">
	  	  	      {{response}}
	  	  </div> 
         <br>  
  	  	  <br>  
	  	  <br>  
        
</div>